body {
    background-image: url(../img/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: whitesmoke;
  }

  .card {
    margin-top: 0px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10); 
  }

  .card-action {
    border-radius: 10px 10px 0 0;
  }

  .card-header {
    background-color: #000000;
    color: #ffffff; 
  }

  .btn-inicio {
    background-color: #000000;
    border-color: #ffffff;
  }

  .btn-face {
    background-color: #000000;
    border-color: #2ecc71;
  }

  .btn-twit {
    background-color: #000000;
    border-color: #ffffff;
  }

  .btn-goog {
    background-color: #000000;
    border-color: #ffffff;
  }

  .btn-inicio,
  .btn-face,
  .btn-twit,
  .btn-goog {
    height: 35px;
  }

  .btn-inicio:hover,
  .btn-face:hover,
  .btn-twit:hover,
  .btn-goog:hover {
    color: coral !important; 
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  a:hover {
    text-decoration: none;
    color: coral
  }